@charset "utf-8";

body{
margin:0px;
padding:0px;
font-family:Tahoma, Geneva, sans-serif;
line-height:1.5em;
background-color:#FFC;
width:1345px;
background-image:url(../image/bigbook.jpg);
background-position:center;
background-size:100% 100%;
background-attachment:fixed;
background-repeat:no-repeat;
text-align:center;
}

.warpper{
    margin:0 auto;
    text-align:center;
    width:100%;
    
}

.header{	/*上面部分*/
width: 1345px;
text-align:center;
margin:0 auto;
position:absolute;
}

.header h2{
font-size:70px;
position:absolute;
top:8px;
left:540px;
}

.xiaodaohang ul{
z-index:100;
margin:0 0 0 14px;
padding:0;
list-style-type:none;
}

.xiaodaohang ul li{
padding: 0 2px;
position: relative;
display: inline;
float:right;
right:20px;
top:-30px;
z-index: 100;
height:30px;
}

.xiaodaohang ul li a{
display:block;
padding:2px 5px;
height:25px;
line-height:25px;
font-weight: bold;
font-size:15px;
color:#fff;
text-decoration:none;
outline:none;
text-align:center;
}

.xiaodaohang ul li a:link{
color:#FFF;
}


.xiaodaohang ul li a.selected,.xiaodaohang ul li a:hover{
color:#000;
background-color:#D9D9D9;
opacity: 0.8;
}


/*导航*/
.daohang ul li{
position:relative;
display:inline;
float:left;
padding: 0 0.4px;
top:92px;
left:340px;
z-index:100;
height:30px;
margin:0 auto;
}

.daohang a:link{
background:#630;
}

.daohang ul li a{
display:block;
padding:0 28px;
height:38px;
line-height:37px;
font-size:16px;
color: #FFF;
text-decoration:none;
outline:none;
text-align:center;
font-weight:bold;
}

.daohang ul li a.select,.daohang ul li a:hover{
  color:#630;
  background:#DFDFDF;
  opacity: 0.9;
}


.detail{
	width:1030px;
        height:630px;
	position:relative;
        background-color: rgba(255,255,255,0.8);
        top:170px;
	z-index:0;
        margin:0 auto;
}

.btn{
	position:absolute;
	background:#8F4B18;
	left: 150px;
	top: 40px;
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
	width: 56px;
	height: 28px;
}



table tr th{
    color:#630;

}

.putincar{
	background:#8F4B18;
	font-size:14px;
	color: #FFF;
	font-weight:bold;
	width: 90px;
	height: 28px;
        position:relative;
        top:8px;
        margin:4px;
}


/*底部*/
.footer{
	position:relative;
        top:50px;
        margin:0 auto;
}
.footer p{
        color:rgba(255,255,255,0.5);
	font-weight:bold;
	position:relative;
        font-size:10px;
}

.footer a {
	color:#714D37;

}
.footer a:hover {
	font-weight:bold;
}